<div class="p-10 max-w-4xl mx-auto">

  <app-page-header
    title="Mein Dashboard"
    subtitle="Verwalten Sie Ihre Buchungen und Ausleihen">
  </app-page-header>

  <div class="grid md:grid-cols-1 gap-2">

    <app-menu-card
      header="Meine Buchungen"
      description="Übersicht über alle Ihre Buchungen, aktuelle Ausleihen und deren Status."
      buttonLabel="Zu meinen Buchungen"
      routerLink="/user-dashboard/bookings"
      icon="calendar-plus">
    </app-menu-card>

    <app-menu-card
      header="Private Gegenstände verleihen"
      description="Erstelle ein Angebot zum Verleihen deiner privaten Gegenstände."
      buttonLabel="Angebot erstellen"
      routerLink="/user-dashboard/private-lend"
      icon="box">
    </app-menu-card>

    <app-menu-card
      header="Meine Gruppen"
      description="Sehen Sie alle Gruppen, in denen Sie Mitglied sind."
      buttonLabel="Zu meinen Gruppen"
      routerLink="/user-dashboard/groups"
      icon="users">
    </app-menu-card>

  </div>

</div>

