<div class="flex flex-col md:flex-row gap-8 flex-wrap">
  <app-filled-button
    icon="pi pi-file-pdf"
    label="Als PDF exportieren"
    (buttonClick)="onExportPdf()">
  </app-filled-button>

  <app-filled-button
    icon="pi pi-download"
    label="Als HTML exportieren"
    (buttonClick)="onExportHtml()">
  </app-filled-button>

  <button
    pButton
    icon="pi pi-refresh"
    label="Aktualisieren"
    class="p-button-outlined w-full md:w-auto border-[#253359]! text-[#253359]! hover:bg-[#253359]/10! hover:border-[#1f2847]!"
    (click)="onRefresh()"
    pTooltip="Daten neu laden">
  </button>
</div>
