<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<div class="p-6 max-w-4xl mx-auto">
  <app-page-header
    title="Standorte verwalten"
    subtitle="Erstelle und verwalte Räume / Standorte">
  </app-page-header>

  <div class="mb-6">
    <div class="flex gap-2 items-center">
      <input pInputText type="text" placeholder="Standort" [(ngModel)]="newLocation.roomNr" class="flex-1 p-2 border rounded" />
      <app-filled-button label="Erstellen" (buttonClick)="create()"></app-filled-button>
    </div>
  </div>


  <app-table [columns]="columns"
             [data]="locations()"
             [loading]="isLoading()"
             [rows]="10"
             [showActions]="true"
             [showEditButton]="false"
             [rowClickable]="true"
             (remove)="onRemove($event)"
             (rowSelect)="onRowSelect($event)"></app-table>
</div>
