<div class="p-10 max-w-4xl mx-auto">

  <h1 class="text-4xl font-bold mb-4">Verleiher Dashboard</h1>
  <p class="text-muted-foreground mb-8">
    Verwalten Sie Ihre Gegenstände und Ausleihvorgänge
  </p>

  <div class="grid md:grid-cols-2 gap-6">

    <app-menu-card
      header="Meine Gegenstände"
      description="Übersicht über alle Ihnen zugewiesenen Gegenstände und deren Status."
      buttonLabel="Zu meinen Gegenständen"
      routerLink="/lender/items"
      icon="box">
    </app-menu-card>

    <app-menu-card
      header="Ausleihvorgänge verwalten"
      description="Verwalten Sie Ausleihvorgänge und beantworten Sie Anfragen."
      buttonLabel="Zu den Ausleihvorgängen"
      [disabled]="true"
      icon="calendar">
    </app-menu-card>

    <app-menu-card
    header="Ausleihe Übersicht"
    description="Übersicht über aktive Ausleihen und außenstehende Abholungen"
    buttonLabel="Zur Ausleih-Übersicht"
    routerLink="/lender/loan"
    icon="calendar">
    </app-menu-card>

    <app-menu-card
    header="Anfragen"
    description="Annehmen und ablehnen der Anfragen"
    buttonLabel="Zu den Anfragen"
    routerLink="/lender/requests"
    icon="calendar">
    </app-menu-card>

  </div>

</div>

