<div class="max-w-7xl mx-auto p-4 sm:p-6 lg:p-8 space-y-6 bg-slate-50/30 min-h-screen">

  <p-toast position="bottom-right"></p-toast>

  <nav class="flex items-center">
    <app-back-button
      routerLink="/admin/bookings"
      class="hover:-translate-x-1 transition-transform duration-200">
    </app-back-button>
  </nav>

  @if (isLoading()) {
    <app-booking-loading-screen></app-booking-loading-screen>
  }

  @if (!isLoading() && booking()) {
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start">

      <app-booking-grid
        [booking]="booking()!"
        [statusLabel]="getStatusLabel(booking()!.status)"
        [statusSeverity]="getStatusSeverity(booking()!.status)"
        [cards]="getCardData()">

        <app-booking-message [message]="booking()!.message"></app-booking-message>

        <app-appointments-and-data
          [booking]="booking()!"
          [formatDateTime]="formatDateTime.bind(this)">
        </app-appointments-and-data>
      </app-booking-grid>

      <app-booking-progress
        [timelineEvents]="timelineEvents()"
        [formatDateTime]="formatDateTime.bind(this)">
      </app-booking-progress>

    </div>
  }
</div>
