
:host ::ng-deep {
  .p-radiobutton .p-radiobutton-box {
    border-color: #d1d5db;
    width: 1.25rem;
    height: 1.25rem;

    &.p-highlight {
      background-color: #ffffff !important;
      border-color: #000000 !important;

      .p-radiobutton-icon {
        background-color: #000000 !important;
        width: 0.625rem;
        height: 0.625rem;
      }
    }

    &:not(.p-disabled):hover {
      border-color: #000000;
    }
  }

  .p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box.p-focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2) !important;
    border-color: #000000 !important;
  }
  .pButton{
    background-color: #000080 !important;
    border-color: #000080 !important;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    transition: all 0.2s ease;

    &:hover:not(:disabled) {
      background-color: #000066 !important;
      border-color: #000066 !important;
      transform: scale(1.02);
    }}
}
