<div class="p-8 max-w-7xl mx-auto">
  <p-toast position="bottom-right"></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <div class="flex justify-between items-start mb-6">
    <app-page-header
      title="Produktgruppen verwalten"
      subtitle="Erstelle, bearbeite oder lösche Produktgruppen">
    </app-page-header>
    <app-filled-button
      label="Neues Produkt"
      icon="pi pi-plus"
      (buttonClick)="navigateToNewProduct()">
    </app-filled-button>
  </div>


  <p-card header="Vorhandene Produkte">

    <div class="mb-4">
      <app-search-bar
        [placeholder]="'Suche nach Name, Beschreibung, Kategorie...'"
        [(value)]="searchQuery"
        (valueChange)="onSearchChange($event)">
      </app-search-bar>
    </div>

    <app-table
      [columns]="columns"
      [data]="filteredProducts()"
      [loading]="isLoading()"
      [showActions]="true"
      [rows]="10"
      [paginator]="true"
      [scrollable]="true"
      [scrollHeight]="'600px'"
      (edit)="editProduct($event)"
      (remove)="deleteProduct($event)"
      emptyMessage="Keine Produkte vorhanden">
    </app-table>

  </p-card>
</div>

