<div class="p-8 max-w-7xl mx-auto">
  <p-toast position="bottom-right"></p-toast>

  <app-back-button (backClick)="goBack()"></app-back-button>

  <app-item-form
    [item]="item()"
    [products]="allProducts()"
    [selectedProduct]="selectedProduct()"
    [isEditMode]="isEditMode()"
    [generatedInventoryNumbers]="generatedInventoryNumbers()"
    [mode]="isPrivateMode() ? 'private' : 'admin'"
    (formSubmit)="handleFormSubmit($event)"
    (formCancel)="goBack()"
    (inventoryPrefixChange)="handleInventoryPrefixChange($event)"
    (ownerIdChange)="handleOwnerIdChange($event)"
    (ownerNameChange)="handleOwnerNameChange($event)"
    (lenderIdChange)="handleLenderIdChange($event)"
    (lenderNameChange)="handleLenderNameChange($event)">
  </app-item-form>
</div>

