<div class="p-10 max-w-4xl mx-auto">

  <h1 class="text-4xl font-bold mb-4">Admin Dashboard</h1>
  <p class="text-muted-foreground mb-8">
    Verwaltung von Produkten, Gegenständen und Buchungen
  </p>

  <div class="grid md:grid-cols-2 gap-6">

    <app-menu-card
      header="Alle Gegenstände (Übersicht)"
      description="Übersicht über alle Produkte und zugehörige Gegenstände im System."
      buttonLabel="Zur Übersicht"
      routerLink="/admin/all-items"
      icon="list">
    </app-menu-card>

    <app-menu-card
      header="Produktgruppen verwalten"
      description="Erstelle neue Produktgruppen oder bearbeite bestehende."
      buttonLabel="Zu den Produkten"
      routerLink="/admin/products"
      icon="tag">
    </app-menu-card>

    <app-menu-card
      header="Einzelne Gegenstände verwalten"
      description="Verwalte einzelne physische Gegenstände."
      buttonLabel="Zu den einzelnen Gegenständen"
      routerLink="/admin/items"
      icon="box">
    </app-menu-card>

    <app-menu-card
      header="Buchungen verwalten"
      description="Übersicht über alle Buchungen und Ausleihen im System."
      buttonLabel="Zu den Buchungen"
      routerLink="/admin/bookings"
      icon="calendar">
    </app-menu-card>

    <app-menu-card
      header="InSy Importe verwalten"
      description="Verwalte Import-Anfragen aus dem InSy-Inventarsystem."
      buttonLabel="Zu den Imports"
      routerLink="/admin/insy-import"
      icon="download">
   </app-menu-card>
    
    <app-menu-card
      header="Verleiher Zuordnung"
      description="Ordne zu, wer der Verleiher ist."
      buttonLabel="Zu der Verwaltung"
      routerLink="/admin/devices"
      icon="box">
    </app-menu-card>

    <app-menu-card
      header="Kategorie Verwaltung"
      description="Verwalten Sie die Kategorien"
      buttonLabel="Zu der Verwaltung"
      routerLink="/admin/category"
      icon="box">
    </app-menu-card>
    <app-menu-card
      header="Standorte verwalten"
      description="Erstelle und verwalte Räume / Standorte."
      buttonLabel="Zu den Standorten"
      routerLink="/admin/locations"
      icon="map-marker">
    </app-menu-card>

    <app-menu-card
      header="Gruppen verwalten"
      description="Erstelle und verwalte Studentengruppen im System."
      buttonLabel="Zu den Gruppen"
      routerLink="/admin/groups"
      icon="users">
    </app-menu-card>

  </div>

  </div>

